<ul>
  <li> <%= user.username %> </li>
  <a href="<%= edit_user_url(user) %>">Edit this User</a>
  <form action="<%=  user_url(user) %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <%= authentication %>"
    <input type="submit" value="Delete Account">
  </form>
</ul>
